
.navbarContainer{
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    display: flex;
    width: 100%-10px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: relative;
}

.logo{
    font-weight: 600;
    font-size: 1.5rem;
}

.logo>span{
    color: #fff;
}

.buttonsss{
    display: flex;
    font-weight: 500;
}

.buttonss{
    margin-left: 10px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: none;
    color: #fff;
    cursor: pointer;
}

.loginBtn{
    padding: 5px 13px;
}

.lgnDia{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(125, 197, 209, 0.7);
    z-index: -1;
}

.active{
    z-index: 2;
}

.lgnDia .lgn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 400px;
    background-color: #111;
    border-radius: 15px 15% 15px 15%;
    z-index: 4;
}